* {
  
    background: #19120c;
  
    error: #ffb4ab;
  
    error-container: #93000a;
  
    inverse-on-surface: #372f28;
  
    inverse-primary: #87521c;
  
    inverse-surface: #efe0d5;
  
    on-background: #efe0d5;
  
    on-error: #690005;
  
    on-error-container: #ffdad6;
  
    on-primary: #4c2700;
  
    on-primary-container: #ffdcc1;
  
    on-primary-fixed: #2e1500;
  
    on-primary-fixed-variant: #6b3b04;
  
    on-secondary: #412c19;
  
    on-secondary-container: #ffdcc1;
  
    on-secondary-fixed: #2a1707;
  
    on-secondary-fixed-variant: #5a422d;
  
    on-surface: #efe0d5;
  
    on-surface-variant: #d6c3b6;
  
    on-tertiary: #2d330e;
  
    on-tertiary-container: #dfe7b2;
  
    on-tertiary-fixed: #181e00;
  
    on-tertiary-fixed-variant: #434a22;
  
    outline: #9e8e82;
  
    outline-variant: #51443a;
  
    primary: #ffb779;
  
    primary-container: #6b3b04;
  
    primary-fixed: #ffdcc1;
  
    primary-fixed-dim: #ffb779;
  
    scrim: #000000;
  
    secondary: #e3c0a5;
  
    secondary-container: #5a422d;
  
    secondary-fixed: #ffdcc1;
  
    secondary-fixed-dim: #e3c0a5;
  
    shadow: #000000;
  
    source-color: #ee9948;
  
    surface: #19120c;
  
    surface-bright: #413730;
  
    surface-container: #261e18;
  
    surface-container-high: #312822;
  
    surface-container-highest: #3c332c;
  
    surface-container-low: #221a14;
  
    surface-container-lowest: #130d08;
  
    surface-dim: #19120c;
  
    surface-tint: #ffb779;
  
    surface-variant: #51443a;
  
    tertiary: #c3cb97;
  
    tertiary-container: #434a22;
  
    tertiary-fixed: #dfe7b2;
  
    tertiary-fixed-dim: #c3cb97;
  
}