* {
  
    background: #191114;
  
    error: #ffb4ab;
  
    error-container: #93000a;
  
    inverse-on-surface: #372e31;
  
    inverse-primary: #894a68;
  
    inverse-surface: #eedfe3;
  
    on-background: #eedfe3;
  
    on-error: #690005;
  
    on-error-container: #ffdad6;
  
    on-primary: #531d39;
  
    on-primary-container: #ffd8e6;
  
    on-primary-fixed: #390723;
  
    on-primary-fixed-variant: #6d3350;
  
    on-secondary: #412a34;
  
    on-secondary-container: #fed9e6;
  
    on-secondary-fixed: #2a151f;
  
    on-secondary-fixed-variant: #59404a;
  
    on-surface: #eedfe3;
  
    on-surface-variant: #d4c2c7;
  
    on-tertiary: #49280f;
  
    on-tertiary-container: #ffdcc6;
  
    on-tertiary-fixed: #301401;
  
    on-tertiary-fixed-variant: #633e23;
  
    outline: #9d8c92;
  
    outline-variant: #504348;
  
    primary: #feb0d1;
  
    primary-container: #6d3350;
  
    primary-fixed: #ffd8e6;
  
    primary-fixed-dim: #feb0d1;
  
    scrim: #000000;
  
    secondary: #e1bdca;
  
    secondary-container: #59404a;
  
    secondary-fixed: #fed9e6;
  
    secondary-fixed-dim: #e1bdca;
  
    shadow: #000000;
  
    source-color: #ba247c;
  
    surface: #191114;
  
    surface-bright: #40373a;
  
    surface-container: #251d20;
  
    surface-container-high: #30282b;
  
    surface-container-highest: #3b3235;
  
    surface-container-low: #21191c;
  
    surface-container-lowest: #130c0f;
  
    surface-dim: #191114;
  
    surface-tint: #feb0d1;
  
    surface-variant: #504348;
  
    tertiary: #f2bb98;
  
    tertiary-container: #633e23;
  
    tertiary-fixed: #ffdcc6;
  
    tertiary-fixed-dim: #f2bb98;
  
}